@model ConfigManagement.Models.Config.ErpLogConfig
@{
    ViewData["Title"] = "UpdateErpLog";
    Layout = "~/Views/Shared/_OperationLayout.cshtml";
    ViewBag.Url = "/Api/UpdateErpLog";
}
<input type="hidden" name="Guid" value="@ViewBag.Guid">
<div class="layui-form-item">
    <label class="layui-form-label required">服务地址</label>
    <div class="layui-input-block">
        <input type="text" name="Host" lay-verify="required" lay-reqtext="服务名服务地址" placeholder="请输入服务地址" value="" class="layui-input">
        <tip>填写服务地址 如:127.0.0.1</tip>
    </div>
</div>

<div class="layui-form-item">
    <label class="layui-form-label required">端口</label>
    <div class="layui-input-block">
        <input type="text" name="Port" lay-verify="required" lay-reqtext="端口为空" placeholder="请输入端口" value="" class="layui-input">
        <tip>填写端口 如:5672</tip>
    </div>
</div>

<div class="layui-form-item">
    <label class="layui-form-label required">用户名</label>
    <div class="layui-input-block">
        <input type="text" name="UserName" lay-verify="required" lay-reqtext="用户名不能为空" placeholder="请输入用户名" value="" class="layui-input">
        <tip>填写用户名 如:romens</tip>
    </div>
</div>

<div class="layui-form-item">
    <label class="layui-form-label required">密码</label>
    <div class="layui-input-block">
        <input type="text" name="Password" lay-verify="required" lay-reqtext="密码不能为空" placeholder="请输入密码" value="" class="layui-input">
        <tip>填写密码 如:romens</tip>
    </div>
</div>

@section Form{
    form.val("form", {
    "Host": "@Html.Raw(Model.MQConnModel.ConnectionModel.Host)",
    "Port": "@Html.Raw(Model.MQConnModel.ConnectionModel.Port)",
    "UserName": "@Html.Raw(Model.MQConnModel.ConnectionModel.UserName)",
    "Password": "@Html.Raw(Model.MQConnModel.ConnectionModel.Password)",
    });
}

