@model Organization
@{
    ViewData["Title"] = "更新账套信息";
    Layout = "~/Views/Shared/_OperationLayout.cshtml";
    ViewBag.Url = "/Api/UpdateOrgInfo";
}
<input type="hidden" name="guid" value="@Model.Guid">

<div class="layui-form-item">
    <label class="layui-form-label required">账套名称</label>
    <div class="layui-input-block">
        <input type="text" name="name" lay-verify="required" lay-reqtext="账套名称不能为空" placeholder="请输入账套名称" value="" class="layui-input">
        <tip>填写账套名称</tip>
    </div>
</div>

<div class="layui-form-item">
    <label class="layui-form-label required">账套类型</label>
    <div class="layui-input-block">
        <select name="dbType" lay-verify="">
            <option value="0">Oracle</option>
            <option value="1">Sqlserver</option>
            <option value="2">Mysql</option>
        </select>
    </div>
</div>

<div class="layui-form-item">
    <label class="layui-form-label required">账套IP</label>
    <div class="layui-input-block">
        <input type="text" name="serverName" lay-verify="required" lay-reqtext="账套IP不能为空" placeholder="请输入账套IP" value="" class="layui-input">
        <tip>填写账套IP，比如:192.168.5.7:3307，如果是默认端口可不填端口</tip>
    </div>
</div>

<div class="layui-form-item">
    <label class="layui-form-label required">登录名</label>
    <div class="layui-input-block">
        <input type="text" name="userName" lay-verify="required" lay-reqtext="登录名不能为空" placeholder="请输入登录名" value="" class="layui-input">
        <tip>填写登录名</tip>
    </div>
</div>

<div class="layui-form-item">
    <label class="layui-form-label required">密码</label>
    <div class="layui-input-block">
        <input type="password" name="password" lay-verify="required" lay-reqtext="密码不能为空" placeholder="请输入密码" value="" class="layui-input">
        <tip>填写密码</tip>
    </div>
</div>

<div class="layui-form-item">
    <label class="layui-form-label required">数据库名称</label>
    <div class="layui-input-block">
        <input type="text" name="dataBaseName" lay-verify="required" lay-reqtext="数据库名称不能为空" placeholder="请输入数据库名称" value="" class="layui-input">
        <tip>填写数据库名称</tip>
    </div>
</div>

<div class="layui-form-item">
    <label class="layui-form-label">描述</label>
    <div class="layui-input-block">
        <textarea placeholder="请输入内容" name="description" value="" class="layui-textarea"></textarea>
        <tip>填写描述</tip>
    </div>
</div>

@section Css{
}

@section Scripts{
}

@section Form{
    form.val("form", {
    "name": "@Html.Raw(Model.Name)",
    "dbType": "@Html.Raw(Model.DbType)",
    "serverName":"@Html.Raw(Model.ServerName)",
    "userName": "@Html.Raw(Model.UserName)",
    "password": "@Html.Raw(Model.Password)",
    "dataBaseName": "@Html.Raw(Model.DataBaseName)",
    "description": "@Html.Raw(Model.Description)"
    });
}